@page "/profile"
@using JobPortalDomain.Models;
@using Microsoft.AspNetCore.Authorization;
@model JobPortalWeb.Pages.UserSettings.UserAccountSettingsModel
@attribute [Authorize]
@{
    ViewData["Title"] = "Profile";
}

<div class="dashboard-container">
    <div class="dashboard-body">
        @if (TempData["ProfileUpdatedSuccessfully"] != null)
        {
            <div class="success-message success-margin">
                <p>@TempData["ProfileUpdatedSuccessfully"]</p>
                <button onclick="closeSuccessMessage()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>
            </div>
        }
        @if (TempData["EmailUpdatedSuccessfully"] != null)
        {
            <div class="success-message success-margin">
                <p>@TempData["EmailUpdatedSuccessfully"]</p>
                <button onclick="closeSuccessMessage()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>
            </div>
        }
        @if (User.IsInRole("Jobseeker"))
        {
            <div class="profile-details-card">
                <h2>Profile settings</h2>
                <form method="post">
                    <strong><label asp-for="Jobseeker.FirstName"></label></strong>
                    <p class="validation-error"><span asp-validation-for="Jobseeker.FirstName"></span></p>
                    <input asp-for="Jobseeker.FirstName" value="@Model.Jobseeker.FirstName" type="text" />

                    <strong><label asp-for="Jobseeker.LastName"></label></strong>
                    <p class="validation-error"><span asp-validation-for="Jobseeker.LastName"></span></p>
                    <input asp-for="Jobseeker.LastName" value="@Model.Jobseeker.LastName" type="text" />

                    <strong><label asp-for="Jobseeker.Location"></label></strong>
                    <p class="validation-error"><span asp-validation-for="Jobseeker.Location"></span></p>
                    <input asp-for="Jobseeker.Location" value="@Model.Jobseeker.Location" type="text" />

                    <strong><label asp-for="Jobseeker.PhoneNumber"></label></strong>
                    <p class="validation-error"><span asp-validation-for="Jobseeker.PhoneNumber"></span></p>
                    <input asp-for="Jobseeker.PhoneNumber" value="@Model.Jobseeker.PhoneNumber" type="tel" />
                    <button class="save-details-button" type="submit">Save</button>
                </form>
            </div>
        }
        else
        {
            <div class="profile-details-card">
                <h2>Profile settings</h2>
                <form method="post">
                    <strong><label asp-for="Employer.CompanyName"></label></strong>
                    <p class="validation-error"><span asp-validation-for="Employer.CompanyName"></span></p>
                    <input asp-for="Employer.CompanyName" type="text" />

                    <strong><label asp-for="Employer.CompanySize"></label></strong>
                    <p class="validation-error"><span asp-validation-for="Employer.CompanySize"></span></p>
                    <select asp-for="Employer.CompanySize" asp-items="Html.GetEnumSelectList<CompanySize>()"></select>

                    <strong><label asp-for="Employer.Location"></label></strong>
                    <p class="validation-error"><span asp-validation-for="Employer.Location"></span></p>
                    <input asp-for="Employer.Location" type="text" />
                    <button class="save-details-button" type="submit">Save</button>
                </form>
            </div>
        }
        <div class="profile-details-card">
            <h2>Change your email</h2>
            <p>@User.Identity.Name</p>
            <a asp-page="/UserSettings/ChangeUserEmail">
                Change email
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                </svg>
            </a>
        </div>
        <div class="profile-details-card">
            <h2>Change your password</h2>
            <a asp-page="/UserSettings/ChangeUserPassword">
                Change password
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                </svg>
            </a>
        </div>
        <div class="profile-details-card">
            <h2>Delete your account</h2>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle inline-icon" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
                Permanently remove all data associated with your account, including any job listings or applications made.
            </p>
            <a asp-page="/UserSettings/DeleteUserAccount">
                Delete account
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
                </svg>
            </a>
        </div>
    </div>
</div>

<script src="~/lib/jquery/jquery.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validate/jquery.validate.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true"></script>